html {
    box-sizing: border-box;
    background-color: antiquewhite;
}
.board {
    padding-left: 10px;
    padding-top: 16px;
    width: 621px;
    height: 462px;
    background-color: white;

}
.frame {
    display: flex; 
   flex-wrap: wrap;   
 border: 1px solid;  
  width: 600px;
  height: 435px;


}

.up {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px;
    width: 599px;
    height: 45px;
}

.left {
    display: flex;
    flex-wrap: wrap;
    border-right: solid 1px;
    width: 300px;
    height: 390px;
}

.right {
    
    /* background-color: rgb(138, 34, 34);  */
    width: 299px;
    height: 390px;
}

.rightUp {
    border-bottom: solid 1px; 
    width: 298px;
    height: 60px;
}
.tabs {
    display: flex;
    align-self: flex-end;    
    justify-content: space-between;
    width: 299px;
    height: 30px;      
        /* cursor: pointer; */
            
  }
 .tabs_item {
     text-decoration: none;
 }
 

  .tabs_block {
      /* background: #e00fb3; */
      width: 297px;
      height: 340px;
      
      display: none;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
  }

  .temp {
      align-self: flex-start;
      font-size: 40px;
      margin-left: 20px;
  }

  .weaterIcon {
      width: 90px;
      height: 90px;
      align-self: center;
  }

  .city {
      font-size: 30px;
      margin-left: 20px;
  }

  .button.like {
      width: 30px;
      align-self: flex-end;
  }

  .tabs_block:target {
      display: flex;
  }
  .tabs {
      border-top: solid 1px;
  }

  .details {
      font-size: 18px;
      margin-left: 10px;
  }

  .likedCity {
      cursor: pointer;
    display: flex;
    justify-content: space-between; 
  }

  .textToSearch {
      border: none;
      width: 297px;
  }

  